@import "tailwindcss";

@theme {
  --font-display: "Lobster", "sans-serif";
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  @apply bg-cover bg-center bg-no-repeat;
  background-image: url('./assets/bg.png');
}
